
@charset "UTF-8";
*{
margin: 0;
padding: 0;

}

@media screen and (min-width:425px) and (max-width:767px){
.decnone{
    text-decoration: none;
    color: white;
    
}
#cabecalho{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    background-color: aqua;
}
#linkheader{
    margin: auto;
    display: flex;
    list-style-type: none;
    text-decoration-style: none;
}
li{
    text-decoration: none;
    background-color: blue;
   
}
}

